@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
body{
  background: linear-gradient(#00000063,#000000), url("https://images.pexels.com/photos/2294361/pexels-photo-2294361.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  height: 100vh;
  background-size: cover;
  margin-top:70px;
  color:#fff;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  }

  

  
   h1 {
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

  
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    rgba(255, 0, 0, 0.9),
    rgba(0, 255, 0, 0.3),
    rgba(0, 0, 255, 0.6),
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
    
  

  .form-control::placeholder {
    color: wheat; 
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card-primary {
  background-color: rgba(255, 0, 0, 0.3); 
  padding-left: 5px;
}

.card-success {
  background-color: rgba(0, 255, 0, 0.3);
  padding-left: 5px;
}

.card-danger {
  background-color: rgba(0, 0, 255, 0.3); 
  padding-left: 5px;
}






